Flask==2.0.1
Flask-Mail==0.9.1
spacy==3.0.6
nltk==3.6.2
scikit-learn==0.24.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.0.0/en_core_web_lg-3.0.0.tar.gz
